# Variables de entorno extraídas automáticamente del código
# (sin valores, edítalos según tu entorno)

AD_AUTH_EMAIL=
AD_AUTH_PASSWORD=
AD_BASE_URL=
AUTH_SERVICE_URL=
AWS_ACCESS_KEY_ID=
AWS_REGION=
AWS_S3_BUCKET=
AWS_SECRET_ACCESS_KEY=
BASE_API_URL=
CRYPTO_SERVICE_URL=
DB_HOST=
DB_NAME=
DB_PASS=
DB_PORT=
DB_USER=
ENCRYPTION_KEY=
INTERNAL_TOKEN=
JWT_SECRET=
NOMBRE=
PORT=
REDIS_URL=
SETUP_MASTER_KEY=
USE_S3=
VAR=
