PORT=3007
JWT_SECRET=your_jwt_secret
CRYPTO_SERVICE_URL=http://crypto-service:3009
BASE_API_URL=http://localhost:8000
USE_S3=true
AWS_ACCESS_KEY_ID=tu_access_key
AWS_SECRET_ACCESS_KEY=tu_secret_key
AWS_REGUS-east-1
AWS_S3_BUCKET=tu-bucket
