PORT=3001
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASS=
DB_NAME=auth_db
JWT_SECRET=super_secret_jwt_key_for_ecrt_2024
SETUP_MASTER_KEY=Prueba01*
CRYPTO_SERVICE_URL=http://crypto-service:3009
AD_BASE_URL=https://api-test.portall.com.do:2053/api/v2
AD_AUTH_EMAIL=ecrt-plus@portaldom.com.do
AD_AUTH_PASSWORD=TMmTP0NYOS0=
